@import url("https://fonts.googleapis.com/css2?family=Alata&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap");
header {
  position: relative;
  padding: 2rem 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 35rem;
      grid-template-rows: 1fr 35rem;
      grid-template-areas: "logo hamburger" "title title";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
}

header img {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: logo;
  width: 150px;
}

header nav {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: nav;
  display: none;
}

header #btnHamburger {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: hamburger;
  content: "";
  width: 24px;
  height: 16px;
      justify-self: end;
  background-color: transparent;
  background-image: url("../images/icon-hamburger.svg");
  background-position: center;
  background-size: cover;
  border: none;
}

header h1 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: title;
  padding: 1rem;
  font-size: 2.5rem;
  color: white;
  border: 2px solid white;
}

header.isOpen {
  -ms-grid-rows: 1fr 95vh;
      grid-template-rows: 1fr 95vh;
      grid-template-areas: "logo hamburger" "nav nav";
  background-image: none;
  background-color: black;
}

header.isOpen nav {
  display: initial;
}

header.isOpen nav li a {
  font-family: "Josefin Sans", sans-serif;
  font-family: 300;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 55px;
}

header.isOpen nav li a:hover, header.isOpen nav li a:focus {
  position: relative;
}

header.isOpen nav li a:hover::before, header.isOpen nav li a:focus::before {
  margin: 0 auto;
  width: 24px;
  display: inline;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -6px;
  height: 2px;
  background-color: white;
}

header.isOpen nav li a:active {
  color: red;
}

header.isOpen #btnHamburger {
  background-image: url(../images/icon-close.svg);
}

header.isOpen h1 {
  display: none;
}

@media screen and (min-width: 40rem) {
  header {
        grid-template-areas: "logo nav" "title .";
    background-image: url("../images/desktop/image-hero.jpg");
  }
  header nav {
    display: initial;
  }
  header nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header nav ul li a:hover, header nav ul li a:focus {
    position: relative;
  }
  header nav ul li a:hover::before, header nav ul li a:focus::before {
    margin: 0 auto;
    width: 24px;
    display: inline;
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: -6px;
    height: 2px;
    background-color: white;
  }
  header nav ul li a:active {
    color: red;
  }
  header #btnHamburger {
    display: none;
  }
}

@media screen and (min-width: 40rem) {
  header {
    padding: 2rem 4rem;
  }
}

@media screen and (min-width: 50rem) {
  header h1 {
    font-size: 2.8rem;
  }
}

@media screen and (min-width: 64rem) {
  header {
    padding: 2rem 6rem;
    -webkit-column-gap: 5rem;
            column-gap: 5rem;
  }
  header h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 80rem) {
  header h1 {
    font-size: 4rem;
  }
}

section#leader {
  padding: 3rem 1.5rem;
}

section#leader picture img {
  width: 100%;
}

section#leader .textBox {
  margin-top: 2rem;
  text-align: center;
}

section#leader .textBox h2 {
  font-size: 2rem;
}

section#leader .textBox p {
  margin-top: 1rem;
  line-height: 25px;
  color: #8c8c8c;
}

@media screen and (min-width: 40rem) {
  section#leader {
    padding: 0;
    margin: 3rem 4rem;
  }
}

@media screen and (min-width: 64rem) {
  section#leader {
    margin: 4rem 6rem;
    position: relative;
  }
  section#leader picture img {
    width: 65%;
  }
  section#leader .textBox {
    position: absolute;
    right: 0;
    display: inline-block;
    bottom: 0;
    background-color: white;
    padding-top: 1rem;
    padding-left: 1rem;
    text-align: left;
    width: 453px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  section#leader .textBox h2 {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 65.5rem) {
  section#leader {
    margin: 4rem 8rem;
  }
  section#leader .textBox {
    padding-left: 3rem;
    padding-top: 3rem;
  }
}

@media screen and (min-width: 72rem) {
  section#leader {
    margin: 4rem 9rem;
  }
  section#leader .textBox {
    padding-left: 4rem;
    padding-top: 4rem;
  }
}

@media screen and (min-width: 72rem) {
  section#leader {
    margin: 4rem 10rem;
  }
}

@media screen and (min-width: 90rem) {
  section#leader {
    margin: 4rem 13rem;
  }
}

section#creations {
  padding: 4rem 1.5rem;
  text-align: center;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

section#creations h2 {
  font-size: 2rem;
}

section#creations .card {
  display: block;
  text-align: left;
  margin-top: 2rem;
  position: relative;
}

section#creations .card picture img {
  width: 100%;
}

section#creations .card h3 {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  width: 145px;
  font-size: 1.7rem;
  color: white;
}

section#creations .card::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 4px;
  background-image: -webkit-gradient(linear, left top, right top, from(black), to(transparent));
  background-image: linear-gradient(to Right, black, transparent);
  opacity: 0.6;
}

section#creations .card:hover, section#creations .card:focus {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#creations .card:hover h3, section#creations .card:focus h3 {
  color: black;
}

section#creations .card:hover::before, section#creations .card:focus::before {
  background-image: unset;
  background-color: white;
  opacity: 0.7;
}

section#creations .card:hover:active h3, section#creations .card:focus:active h3 {
  color: red;
}

section#creations button {
  margin-top: 2rem;
  padding: 1rem 3rem;
  font-family: "Alata", sans-serif;
  font-weight: 400;
  background-color: transparent;
  border: 2px solid black;
  font-size: 1rem;
  letter-spacing: 4px;
  color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

section#creations button:hover, section#creations button:focus {
  cursor: pointer;
  background-color: black;
  color: white;
}

section#creations button:active {
  -webkit-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
  background-color: red;
  border-color: red;
}

@media screen and (min-width: 40rem) {
  section#creations {
    padding: 3rem 4rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto (1fr)[4] auto;
        grid-template-rows: auto repeat(4, 1fr) auto;
        grid-template-areas: "title title" "earth arcade" "soccer grid" "above pocket" "curiosity fisheye" "btn btn";
    gap: 1rem;
  }
  section#creations h2 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: title;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  section#creations .card {
    margin-top: 0;
  }
  section#creations .card::before {
    background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(transparent));
    background-image: linear-gradient(to Top, black, transparent);
  }
  section#creations a:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: earth;
  }
  section#creations a:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: arcade;
  }
  section#creations a:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: soccer;
  }
  section#creations a:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
    grid-area: grid;
  }
  section#creations a:nth-child(6) {
    -ms-grid-row: 4;
    -ms-grid-column: 1;
    grid-area: above;
  }
  section#creations a:nth-child(7) {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: pocket;
  }
  section#creations a:nth-child(8) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: curiosity;
  }
  section#creations a:nth-child(9) {
    -ms-grid-row: 5;
    -ms-grid-column: 2;
    grid-area: fisheye;
  }
  section#creations button {
    -ms-grid-row: 6;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: btn;
    margin-top: 0;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

@media screen and (min-width: 50rem) {
  section#creations {
    margin-bottom: 3rem;
    padding: 3rem 5rem;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto (1fr)[3];
        grid-template-rows: auto repeat(3, 1fr);
        grid-template-areas: "title title title" "earth arcade soccer" "grid above pocket" "curiosity fisheye btn";
  }
}

@media screen and (min-width: 64rem) {
  section#creations {
    padding: 4rem 5rem;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: auto 1fr 1fr;
        grid-template-rows: auto 1fr 1fr;
        grid-template-areas: "title title . btn" "earth arcade soccer grid" "above pocket curiosity fisheye";
    gap: 2rem;
  }
  section#creations h2 {
    -ms-grid-column-align: left;
        justify-self: left;
  }
  section#creations button {
    padding: 0.5rem 2rem;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

footer {
  background-color: black;
  padding: 3rem 1.5rem;
  text-align: center;
}

footer img {
  margin-bottom: 2rem;
}

footer nav ul li a {
  line-height: 40px;
}

footer nav ul li a:hover, footer nav ul li a:focus {
  position: relative;
}

footer nav ul li a:hover::before, footer nav ul li a:focus::before {
  margin: 0 auto;
  width: 24px;
  display: inline;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -6px;
  height: 2px;
  background-color: white;
}

footer nav ul li a:active {
  color: red;
}

footer .socialMedia {
  width: 150px;
  margin: 0 auto;
  margin-top: 3rem;
  padding-bottom: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .socialMedia .socialSvg a:hover, footer .socialMedia .socialSvg a:focus {
  position: relative;
}

footer .socialMedia .socialSvg a:hover::before, footer .socialMedia .socialSvg a:focus::before {
  margin: 0 auto;
  width: 24px;
  display: inline;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: -6px;
  height: 2px;
  background-color: white;
}

footer .socialMedia .socialSvg a:active svg path {
  fill: red;
}

footer p {
  margin-top: 1rem;
  color: dimgray;
}

@media screen and (min-width: 50rem) {
  footer {
    padding: 3rem 5rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "logo social" "nav copyright";
    gap: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer img {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: logo;
    margin: 0;
  }
  footer nav {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: nav;
    max-width: 400px;
  }
  footer nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .socialMedia {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: social;
    margin: 0;
    -ms-grid-column-align: right;
        justify-self: right;
  }
  footer p {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: copyright;
    margin: 0;
    -ms-grid-column-align: right;
        justify-self: right;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1,
h2,
h3,
button {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

p,
a {
  font-family: "Alata", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
}

body.overflowHidden {
  overflow: hidden;
}
/*# sourceMappingURL=main.css.map */