footer {
  background-color: $black;
  padding: 3rem 1.5rem;
  text-align: center;

  img {
    margin-bottom: 2rem;
  }

  nav ul li a {
    line-height: 40px;
    @include underlineEffect;
    @include linkActive;
  }

  .socialMedia {
    width: 150px;
    margin: 0 auto;
    margin-top: 3rem;
    padding-bottom: 2px;
    display: flex;
    justify-content: space-between;

    .socialSvg a {
      @include underlineEffect;
      @include socialActive;
    }
  }

  p {
    margin-top: 1rem;
    color: $veryDarkGray;
  }
}
